/* ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:#000029 ;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/*ESTILO DO HEADER*/
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(175, 170, 170);
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
    
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .aba-contatos button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: #805dc3;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: white;
}

header .aba-contatos button:hover{
    box-shadow: 0px 0px 8px #855dcede;
}

/*ESTILO DO "SOBRE MIM" */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: white;
    font-size: 42px;
    font-weight: 700;
}

.topo-do-site span{
    color: #805dc3;
}

.topo-do-site p{
    color: white;
    font-size: 18px;
}

.topo-do-site .img-sobre-mim{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}