/* ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:#000029 ;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

h2.titulo{
    color: white;
    font-size: 35px;
    text-align: center;
}

h2.titulo span{
    color: #805DC3;
}

/*ESTILO DO HEADER*/
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(175, 170, 170);
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/*ESTILO DO "SOBRE MIM" */
section.aba-sobre-mim{
    padding: 40px 4%;
}

section.aba-sobre-mim .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.aba-sobre-mim h1{
    color: white;
    font-size: 42px;
    font-weight: 700;
}

.aba-sobre-mim span{
    color: #805dc3;
}

.aba-sobre-mim p{
    color: white;
    font-size: 18px;
    
}

.aba-sobre-mim a img{
    margin: 5px;
    margin-top: 20px;
}

.aba-sobre-mim .img-sobre-mim{
    position: relative;
    animation: flutuar 3s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/*ESTILO DA ABA TECNOLOGIAS*/
section.tecnologias{
    padding: 40px 4%;
}

section.tecnologias .flex{
    align-items: center;
    justify-content: center;
    padding: 40px 4%;
    gap: 60px;
}

.tecnologias .tecnologias-box{
    color: rgb(255, 255, 255);
    padding: 40px;
    margin-top: 45px;
}

.tecnologias .tecnologias-box h3{
    font-size: 20px;
    margin: 15px 0;
    text-align: center;
}

/*ESTILO ABA MEUS PROJETOS*/
section.meus-projetos{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1a;
}

section.meus-projetos .flex{
    gap: 60px;
}
.box-projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.box-projetos a{
    width: 300px;
    height: 200px;
    display: inline-block;
    text-align: center;
    background-color: #815dc315;
    border: 4px solid #815dc350;
    border-radius: 40px;
    box-shadow: 0 0 10px #815dc373;
    text-decoration: none;
    color: #ffffff86;
    font-size: 20px;
    font-weight: bold;
    transition: .2s;
}

.box-projetos a:hover{
    border: 4px solid #5712e2c9 ;
    border-radius: 40px;
    box-shadow: 0 0 10px #5815d373;
    background-color: #5712e279;
    color: #fff;
    transform: scale(1.05);
}